<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white">

    <header class="fixed top-0 left-0 right-0 bg-blue-800 p-4 flex justify-between items-center z-50 shadow-lg">
        <img src="https://media.istockphoto.com/id/1414160809/pt/vetorial/airplane-icon-plane-flight-pictogram-transport-symbol-travel.jpg?s=612x612&w=0&k=20&c=YFAp5pnsR_fHynqYZ8d7nWjLDUtps7vaITIfYJBkmKY=" alt="Logo do Grupo" class="w-12 h-12">
        <nav class="space-x-8">
            <a href="roteiro.html" class="hover:text-blue-300 text-lg font-semibold">Criação de Roteiros</a>
            <a href="orçamento.html" class="hover:text-blue-300 text-lg font-semibold">Orçamento de Viagem</a>
            <a href="sugestão.html" class="hover:text-blue-300 text-lg font-semibold">Sugestão de Destinos</a>
        </nav>
        <div class="space-x-4">
            <button class="bg-transparent border border-white text-white px-4 py-2 rounded-lg hover:bg-blue-700" onclick="window.location.href='login.html'">Login</button>
            <button class="bg-transparent border border-white text-white px-4 py-2 rounded-lg hover:bg-blue-700" onclick="window.location.href='cadastro.html'">Cadastre-se</button>
        </div>
    </header>

    <main class="pt-24 px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-center mb-4 text-blue-800">Criação de Roteiros</h3>
                <p class="text-center text-gray-700">Crie e personalize sua viagem do jeito que quiser.</p>
            </div>

            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-center mb-4 text-blue-800">Orçamento de Viagem</h3>
                <p class="text-center text-gray-700">Faça os cálculos dos gastos estimados para a sua viagem.</p>
            </div>

            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-center mb-4 text-blue-800">Sugestões de Destinos</h3>
                <p class="text-center text-gray-700">Confira aqui algumas de nossas sugestões de lugares para visitar.</p>
            </div>

        </div>
    </main>

</body>
</html>