<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white">

    <header class="fixed top-0 left-0 right-0 bg-blue-800 p-4 flex justify-between items-center z-50 shadow-lg">
        <img src="https://media.istockphoto.com/id/1414160809/pt/vetorial/airplane-icon-plane-flight-pictogram-transport-symbol-travel.jpg?s=612x612&w=0&k=20&c=YFAp5pnsR_fHynqYZ8d7nWjLDUtps7vaITIfYJBkmKY=" alt="Logo do Grupo" class="w-12 h-12">
        <nav class="space-x-8">
            <a href="{% url 'roteiro' %}" class="hover:text-blue-300 text-lg font-semibold">Adicionar viagem</a>
            <a href="{% url 'gerenciar' %}" class="hover:text-blue-300 text-lg font-semibold">Gerenciar viagens</a>
            <a href="{% url 'orcamento' %}" class="hover:text-blue-300 text-lg font-semibold">Orçamento de viagens</a>
            <a href="{% url 'sugestao' %}" class="hover:text-blue-300 text-lg font-semibold">Sugestão de destinos</a>
            <a href="{% url 'lembretes' %}" class="hover:text-blue-300 text-lg font-semibold">Alertas e lembretes</a>
            <a href="{% url 'checklist' %}" class="hover:text-blue-300 text-lg font-semibold">Checklist</a>
        </nav>
        <div class="space-x-4 flex items-center">
            {% if usuario %}
                <a href="{% url 'logout' %}" class="hover:text-red-300 text-lg font-semibold">Sair</a>
            {% else %}
                <a href="{% url 'login' %}" class="hover:text-blue-300 text-lg font-semibold">Login</a>
                <a href="{% url 'cadastro' %}" class="hover:text-blue-300 text-lg font-semibold">Cadastre-se</a>
            {% endif %}
        </div>
        
    </header>

    <main class="pt-24 px-4">
        <h2 class="text-2xl mb-8 text-center font-bold text-white">
            Bem-vindo(a), {{ usuario.nome }}!
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-center mb-4 text-blue-800">Adicionar viagem</h3>
                <p class="text-center text-gray-700">Crie e personalize sua viagem do jeito que você preferir.</p>
            </div>
            
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-center mb-4 text-blue-800">Gerenciar viagens</h3>
                <p class="text-center text-gray-700">Edite e/ou delete viagens já programadas no seu roteiro.</p>
            </div>
            
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-center mb-4 text-blue-800">Orçamento de viagens</h3>
                <p class="text-center text-gray-700">Faça os cálculos dos gastos estimados para a sua viagem, edite-os e até mesmo delete-os.</p>
            </div>

            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-center mb-4 text-blue-800">Sugestões de destinos</h3>
                <p class="text-center text-gray-700">Confira aqui algumas de nossas sugestões de lugares para visitar.</p>
            </div>

            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-center mb-4 text-blue-800">Alertas e lembretes</h3>
                <p class="text-center text-gray-700">Não perca nada da viagem! Receba notificações e fique ligado nas suas programações.</p>
            </div>

            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-center mb-4 text-blue-800">Checklist</h3>
                <p class="text-center text-gray-700">Não esqueça nada antes de viajar! Após criar sua lista, clique como concluído no que já foi feito. Você pode também editar e excluir itens </p>
            </div>


        </div>
    </main>

</body>
</html>